<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=ieLy34VnQ9xz65BBEjFbf3Ih"></script> -->
    <title>Document</title>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }
    </style>
</head>

<body>
    <div id="container"></div>
    <script>
        function init() {
            var map = new BMapGL.Map("container");
            var point = new BMapGL .Point(116.404, 39.915);
            map.centerAndZoom(point, 5);
            map.enableScrollWheelZoom(true);
            map.setHeading(0);
            map.setTilt(70);
            map.setMapType(BMAP_EARTH_MAP);
        }
        /**
         * 加载js
         * @param url 
         * @param id 
         * @param callback 
         */
        function loadScript(url, id, callback) {
            // 如果URL不存在或者该ID已经加载过了
            if (!url || document.getElementById(id)) {
                if (typeof (callback) === 'function') {
                    // eslint-disable-next-line
                    callback(true)
                }
                return
            }
            let script = document.createElement('script')
            script.type = 'text/javascript'
            if (id) { script.id = id }
            if (typeof (callback) === 'function') {
                // 默认10S超时就立即执行回调函数
                let timer = setTimeout(() => {
                    callback(false)
                    timer = null
                }, 10000)

                if (script.readyState) {
                    script.onreadystatechange = () => {
                        if (script.readyState === 'loaded' || script.readyState === 'complete') {
                            if (timer) {
                                callback(true)
                            }
                        }
                    }
                } else {
                    script.onload = () => {
                        if (timer) {
                            clearTimeout(timer)
                            callback(true)
                        }
                    }
                }
            }
            script.src = url
            document.head.appendChild(script)
        }
        window.onload = function () {
            loadScript('http://api.map.baidu.com/api?v=1.0&type=webgl&ak=ieLy34VnQ9xz65BBEjFbf3Ih&callback=init', 'baiduDt')
        }

    </script>
</body>

</html>